body {
  background-color: #252b42;
}

#main .nav-link {
  color: white;
}

#main .nav-link:hover {
  color: #81b29a;
}

.color {
  color: white;
  padding: 0px 20px 0px 0px;
}

.color:hover {
  color: rgb(116, 166, 235);
}

.middle {
  margin: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle p {
  color: rgb(116, 166, 235);
  font-weight: bold;
}

.middle h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.middle h2 {
  padding: 20px 0px 15px 0px;
  color: white;
  font-weight: 150;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .middle h1 {
    font-size: 3rem;
  }

  .middle h2 {
    font-size: 1rem;
  }
}

@media (max-width: 780px) {
  .middle h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .middle h2 {
    font-size: 1rem;
    text-align: center;
  }
}

@media (max-width: 700px) {
  .middle {
    margin: 0 auto;
    padding-top: 200px;
    width: 300px;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 100px;
}

.item {
  width: 300px;
  height: fit-content;
  padding: 50px;
  background-color: white;
}

.item h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 20px 0px 0px;
  white-space: nowrap;

}

.item p {
  color: gray;
  font-weight: bold;
}

.item-1 {
  width: 300px;
  height: fit-content;
  padding: 50px;
  background-color: rgb(116, 166, 235);
}

.item-1 h3 {
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin: 20px 20px 0px 0px;
  white-space: nowrap;
}

.item-1 p {
  color: white;
  font-weight: bold;
}

@media(max-width:476px) {

  .item h3 {
    padding-right: 30.28px;
  }
}

.icon-style {
  font-size: 1.4rem;
}

/**** instead of this ****/

.smiley-face-wrapper {

  color: #ea1c2c;
  background-color: #fcdcd1;
}

.double-check {

  color: #59cd82;
  background-color: #aee7a4;
}

.card {

  color: #23a6f0;
}

/**** Your code should be like this *****/
.common-properties {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.375rem;
  height: 3.875rem;
  border-radius: 15%;
}

.smiley-face-wrapper {
  color: #ea1c2c;
  background-color: #fcdcd1;
}

.double-check {
  color: #59cd82;
  background-color: #aee7a4;
}

.card {
  color: #23a6f0;
}

/****       ****/

.line {
  width: 50px;
  /* when the value is 0 you don't need to specify the unit. 0 is 0 in either px or rem */
  border: 2px solid #f7c3c3;
  margin: 20px 20px 20px 0px;
  /* same here */
}

/* TODO: make sure the cards are the same size :) */